      h1{
        width: 3000;
      }
      img{
        width: auto;
      }
      body{
        background-color: lightcyan;
      }
      p{
        font-family: serif;
        width: auto;
      }
    
      .paragrafo {
        background-color: lightcyan;
        width: 50%;
        height: 100px;
        overflow: auto;
        
      }
      .titulos{
        font-style: italic;
      }
      .nome{
        font-style: italic;
      }
      
      